.box{height: 50px;width:50px;
border: 2px solid black;
margin: 3px;
display: flex;
align-items: center;
justify-content: center;
}

.main-box{height: 100px;width: auto;
display: flex;
align-items: center;
justify-content: center;}

p{text-align: center; font-size: 30px; color: rgb(59, 1, 1); margin: 50px; font-weight: bold;}

body{background-color: rgb(87, 181, 232);}

button{height: 30px; width: auto; font-size: 20px; 
    border-radius: 0.8rem; margin: 35px;background-color: lightcoral;}

